﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Connor Payne A5</h3>

<p>The time on the server is: @DateTime.Now</p>





<p>Web Application Information</p>
