﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Information:</h3>

<address>
Address: 
600 W College Ave
Tallahassee
FL 
32306
</address>

<address>
    School: <a href="mailto:csp14d@my.fsu.edu<">csp14d@my.fsu.edu</a><br />
</address>

<address>
   Phone Number: 9999999999
</address>