﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
			<a href="http://searchsecurity.techtarget.com/definition/information-security-infosec">
				<img src="~/images/lock.jpg" alt="ASP.NET" class="img-responsive" />
			</a>
            <div class="carousel-caption" role="option">
                <p>
 
                </p>
            </div>
        </div>
        <div class="item">
			<a href="https://www.linkedin.com/in/connor-payne/">
				<img src="~/images/resume.png" alt="ASP.NET" class="img-responsive" />
			</a>
            <div class="carousel-caption" role="option">
                <p>
              

                </p>
            </div>
        </div>
        <div class="item">
			<a href="https://cci.fsu.edu/">
				<img src="~/images/wescott.jpg" alt="ASP.NET" class="img-responsive" />
			</a>
            <div class="carousel-caption" role="option">
                <p>
                    CCI FSU

                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Programming</h2>
        <ul>
            <li><a href="https://bitbucket.org/csp14d/lis4369">BitBucket Home</a></li>
            <li><a href="https://bitbucket.org/csp14d/lis4369/src/6dee705b7a3ed4530116443643a3aa70f296c3d5/P1/P1_README.md?fileviewer=file-view-default">Room Dimension Project</a></li>
            <li><a href="https://bitbucket.org/csp14d/lis4369/src/6dee705b7a3ed4530116443643a3aa70f296c3d5/A3/A3_README.md?at=master&fileviewer=file-view-default">Interest Rate Assignment</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Internship</h2>
        <ul>
            <li><a href="https://www.peoplestrategy.com/">PeopleStrategy Inc.</a></li>
            <li><a href="https://www.peoplestrategy.com/ehcm-solution/">Company HR Web Application</a></li>
            <li><a href="https://www.secureworldexpo.com/events">Security Conference Attended</a></li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Involvement</h2>
        <ul>
            <li><a href="http://www.fsuifc.com/kappa-alpha.html">2017 Kappa Alpha Order Executive Board</a></li>
            <li><a href="http://aitp.fsu.edu/">FSU AITP Student Member</a></li>
			<li><a href="http://cybersecurity.fsu.edu/club/">Cybersecurity Club</a></li>
        </ul>
    </div>

</div>
